# Dependensi Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
package.json

# File Konfigurasi Sensitif (Kredensial & URL)
config.json

# Hasil Screenshot Error dari Playwright
vu-*-error.png